.App {
  text-align: center;
}

.card_wrapper {
  /* width: 480px;
  height: 250px; */
  box-sizing: border-box;
  margin: 0 10px 10px 0;
  padding: 5px;
}

.card_wrapper:hover {
  box-shadow: 10px 10px 5px #FFCCCC;
}

.products_container {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

.page_container {
  width: 1000px;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 0;
}

.main_container {
  width: 1280px;
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
}

.filters_container {
  width: 250px;
  text-align: left;
  padding: 10px;
  background-color: #ffffee;
}

.main_info {
  width: 1000px;
}

.filters_block {
  margin-top: 100px;
}

.searching {
  width: 980px;
  text-align: center;
  height: 1000px;
}